[class*="icon-"]::before {
  content: "";
  display: inline-block;
  margin-right: 0.15rem;
  width: 1em;
  height: 1em;
}

.icon-location::before {
  background: url("../resources/img/icon-pin.svg");
}
