mixin banner 
  .main-banner.l-section
    img(src="./resources/img/banner-edcamp.jpg", alt="Banner EDteam" class="main-banner__hero-image")
    .main-banner__content
      img(src="./resources/img/edcamp-logo.svg" alt="EDcamp logo" class="main-banner__logo")
      h1.main-banner__title Tecnologia, networking y emprendimiento en Lima
      p.main-banner__description EDcamp Lima 2021 el 31 de agosto y 1ro de septiembre
