mixin card
  .card
    .card__img
      img(src="./resources/img/tde.jpg", alt="Poster del taller de emprendedores")
    .card__content 
      h3.card__title Taller de emprendedores
      .card__subtitle Viernes 31 de agosto (2pm - 8pm)
      .card__description Aprende a emprender, Crea un modelo de negocio escalable y define tu propia propuesta de valor con la mentoria de nuestro equipo.
      .card__footer
        .card__footer-text.icon-location Museo de Historia Natural UNMSN,
        a(href="#" class="button") Mas informacion