*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.l-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-right: auto;
  margin-left: auto; }

.main-header {
  height: 4rem;
  border-bottom: 1px solid #ccc; }
  .main-header__block {
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .main-header__logo {
    height: 2rem; }

.main-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .main-menu__item {
    padding: 1rem; }
  .main-menu__link {
    color: #ccc;
    font-family: Lato, sans-serif;
    margin-left: 1rem; }
    .main-menu__link:hover {
      color: #6b7175;
      text-decoration: underline; }
  @media screen and (min-width: 960px) {
    .main-menu {
      display: flex; }
      .main-menu__link {
        color: #53575a; } }

.main-nav {
  position: fixed;
  height: calc(100vh - 4rem);
  width: 80vw;
  background: #282d31;
  top: 4rem;
  right: -80vw;
  transition: right 0.3s;
  padding-top: 1rem; }
  .main-nav.show {
    right: 0; }
  @media screen and (min-width: 960px) {
    .main-nav {
      position: static;
      background: transparent;
      padding-top: 0;
      height: auto;
      width: auto; } }

.main-menu-toggle {
  background: linear-gradient(#282d31 20%, transparent 20%, transparent 40%, #282d31 40%, #282d31 60%, transparent 60%, transparent 80%, #282d31 80%);
  cursor: pointer;
  width: 2.2rem;
  height: 1.6rem; }
  @media screen and (min-width: 960px) {
    .main-menu-toggle {
      display: none; } }
