//- Sizes
$max-width: 1200px;
$header-height: 4rem;
//- Fonts
$lato: Lato, sans-serif;
//- Colors
$border-color: #ccc;
$text-color: #53575a;
$dark-color: #282d31;
//- Breakpoints
$breakpoints: (
  l: 960px,
);
